.home__questioncard {
  position: relative;
  margin-bottom: 20px;
}

.home__main {
  padding: 12px;
}

.home__bookmark {
  width: 24px;
  height: 24px;
  fill: var(--first-color);
  position: absolute;
  right: 24px;
  top: -8px;
}

.home__form {
  background-color: var(--fifth-color);
}

.home__textarea {
  background-color: var(--sixth-color);
}

.home__answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__showanswer {
  background-color: var(--first-color);
  text-align: center;
  text-decoration: none;
  border: solid var(--first-color);
  border-radius: 5px;
  width: 5cm;
  color: var(--fourth-color);
  font-size: 12px;
  margin: 5px;
}

.home__answeroptionlist {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.home__answeroption {
  font-size: 12px;
  background-color: var(--sixth-color);
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}
