.qc {
  background-color: var(--sixth-color);
  position: relative;
  margin: 10px;
  padding: 5px;
}

.qc__title {
  margin: 10px;
  background-color: var(fifth-color);
}

.qc__bookmark-button {
  border: none;
  outline: none;
  background: none;
}

.qc__bookmark {
  width: 24px;
  height: 24px;
  fill: var(--fifth-color);
  position: absolute;
  right: 24px;
  top: -8px;
}

.qc__bookmark-filled {
  fill: var(--fourth-color);
}

.qc__question,
.qc__anwer {
  margin: 10px;
  font-size: 0.8rem;
}

.qc__answer {
  display: none;
}

.qc__answer-active {
  display: block;
}

.qc__showanswer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qc__showanswer-button {
  background-color: var(--first-color);
  text-align: center;
  text-decoration: none;
  border: solid var(--first-color);
  border-radius: 5px;
  width: 5cm;
  color: var(--fourth-color);
  font-size: 12px;
  margin: 5px;
  padding: 0.5em;
}

.qc__taglist {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 10px;
}

.qc__tag {
  font-size: 12px;
  background-color: var(--fifth-color);
  text-align: center;
  border-radius: 5px;
  padding: 0.5em;
}
